﻿@model Blog.Areas.Administration.ViewModels.ArticleViewModel
@{
    ViewBag.Title = "Добавление статьи";
}

@using (Html.BeginForm())
{
    @Html.ValidationSummary()

    <div class="form-group">
        @Html.LabelFor(model => model.Name, "Название")
        @Html.TextBoxFor(model => model.Name, new { @class = "form-control", required = "required" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Text, "Текст")
        @Html.TextBoxFor(model => model.Text, new { @class = "form-control", required = "required" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Tags, "Теги")<br />
        @Html.ListBoxFor(model => model.SelectedTagIds, Model.Tags, new { @class = "form-control" })
    </div>

    <div class="form-group">
        <input type="submit" value="Добавить" class="btn btn-default" />
    </div>
}

