﻿
@{
    ViewBag.Title = "Управление сайтом";
}

<div class="form-group">
    @Html.ActionLink("Управление ролями", "Index", new { Controller = "Role", Area = "Identity" }, new { @class = "btn btn-default" })
</div>

<div class="form-group">
    @Html.ActionLink("Добавить статью", "CreateArticle", new { Controller = "Admin", Area = "Administration" }, new { @class = "btn btn-default" })
</div>