﻿@using Blog.ViewModels
@using Blog.Helpers
@model ArticlesWithTag

@{
    ViewBag.Title = Model.Tag;
}

@if (Model.Articles.Count == 0)
{
    <p>Статьи с тегом: @Model.Tag - не найдены</p>
}
else
{
    <p>Найденные статьи с тегом: @Model.Tag</p>
}

@Html.CreateList(Model.Articles)

@section styles {
    <link href="~/Content/CustomStyles/record.css" rel="stylesheet">
}
