﻿@using Blog.Domain.Core.Models
@model Comment

<form class="createCommentForm" method="post" action="/Home/Comment">
    <div class="form-group">
        @Html.LabelFor(c => c.Author, "Ваше имя")
        @Html.TextBoxFor(c => c.Author, new { @class = "form-control", required = "required" })
    </div>
    <div class="form-group">
        @Html.TextAreaFor(c => c.Text, new { @class = "form-control", placeholder = "Комментарий", rows = "3", required = "required" })
    </div>
    <input type="submit" value="Отправить" class="btn btn-success" />
</form>


