﻿@using Blog.Domain.Core.Models
@model IList<Comment>

@{
    ViewBag.Title = "Гостевая - тут вы можете оставить свои отзывы";
}

<a id="createCommentButton" class="btn btn-default" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#commentForm" href="/Home/Comment">Оставить комментарий</a>
<div id="commentForm"></div>

@foreach (Comment c in Model)
{
        @CreateComment(@c)
}

@helper CreateComment(Comment comment)
{
    <div class="panel panel-default">
        <div class="panel-heading">
            <span class="name">Автор: @comment.Author</span>
            <span class="date">Дата публикации: @comment.PublicationDate.ToString()</span>
        </div>
        <div class="panel-body text">@comment.Text</div>
    </div>
}

@section styles {
    <link href="~/Content/CustomStyles/record.css" rel="stylesheet">
    <link href="~/Content/CustomStyles/comment.css" rel="stylesheet">
}

@section scripts {
    <script src="~/Scripts/Custom/guest.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
}










