﻿@using Blog.ViewModels
@model Questionnaire

@{
    ViewBag.Title = "Анкета";
}

<form action="/Home/Questionnaire" method="post">

    @Html.ValidationSummary(false)

    <div class="form-group">
        <label>
            Какие знаменательные события произошли в вашей жизни(положительные и отрицательные)?
            @Html.TextAreaFor(m => m.Events, new { @class = "form-control", rows = "3" })
        </label>
    </div>

    Считаете ли вы, что дата рождения влияет на вашу судьбу?<br />
    <div class="radio">
        <label>@Html.RadioButtonFor(m => m.BirthdayEffect, "yes", new { required = "required" }) Да</label><br />
    </div>
    <div class="radio">
        <label>@Html.RadioButtonFor(m => m.BirthdayEffect, "no", new { required = "required" }) Нет</label><br /><br />
    </div>

    Любите ли вы ходить в свое учебное заведение(работу)?<br />
    <div class="radio">
        <label>@Html.RadioButtonFor(m => m.LikeUniversityOrJob, "yes", new { required = "required" }) Да</label><br />
    </div>
    <div class="radio">
        <label>@Html.RadioButtonFor(m => m.LikeUniversityOrJob, "no", new { required = "required" }) Нет</label><br /><br />
    </div>

    <div class="form-group">
        <label>
            Ваше любимое занятие?<br />
            @Html.TextBoxFor(m => m.Hobby, new { @class = "form-control", required = "required" })
        </label>
    </div>

    Как вы оцениваете свои знания в вашей области?(по 5-бальной шкале)<br />
    <input type="range" min="1" max="5" value="3" name="Knowledge" required />Оценка: <span id="Mark">3</span><br /><br />

    Выберите присущие вам свойства<br />
    <div class="checkbox">
        <label>@Html.CheckBoxFor(m => m.Friendly) Дружелюбство</label>
    </div>
    <div class="checkbox">
        <label>@Html.CheckBoxFor(m => m.Perseverance) Упорство</label>
    </div>
    <div class="checkbox">
        <label>@Html.CheckBoxFor(m => m.Punctuality) Пунктуальность</label>
    </div><br />

    <input type="submit" value="Отправить" class="btn btn-success" />
</form>

@section styles {
    <link href="~/Content/CustomStyles/record.css" rel="stylesheet">
    <link href="~/Content/CustomStyles/questionnaire.css" rel="stylesheet">
}

@section scripts {
    <script src="~/Scripts/Custom/questionnaire.js"></script>
}