﻿@using Blog.Domain.Core.Models
@model Article

@{
    ViewBag.Title = Model.Name;
}

<div class="panel panel-default">
    <div class="panel-heading">
        <span class="name">Статья: @Model.Name</span>
        <span class="date">Дата публикации: @Model.PublicationDate.ToString()</span>
    </div>
    <div class="panel-body text">
        @Model.FullArticle.Text <br /><br />

        @{ 
            var i = 0;
        }
        @for (i = 0; i < Model.Tags.Count; i++)
        {
            var text = Model.Tags.ElementAt(i).Text;
            if (i == Model.Tags.Count - 1)
            {
                @Html.ActionLink(text, "ArticlesWithTag", new { tag = text }, null);
            }
            else
            {
                @Html.ActionLink(text, "ArticlesWithTag", new { tag = text }, null);<text>, </text>
            }
        }
        <br />
        @Html.ActionLink("Назад", "Index")
    </div>
</div>


@section styles {
    <link href="~/Content/CustomStyles/record.css" rel="stylesheet">
}


