﻿@using Blog.ViewModels
@model Vote

<form action="/Home/Voting" method="post">

    Какую ОС вы используете?<br />
    <div class="radio">
        <label>@Html.RadioButtonFor(v => v.OS, "Windows", new { required = "required" }) Windows</label><br />
    </div>
    <div class="radio">
        <label>@Html.RadioButtonFor(v => v.OS, "Mac OS", new { required = "required" }) Mac OS</label><br />
    </div>
    <div class="radio">
        <label>@Html.RadioButtonFor(v => v.OS, "Linux", new { required = "required" }) Linux</label><br /><br />
    </div>

    <input type="submit" value="Отправить" class="btn btn-success" />
</form> 
