﻿.createCommentForm {
    margin-top: 1vw;
    width: 24.5vw;
    padding: 1vw;
    border: 0.1vw solid grey;
}

.createCommentForm textarea {
    margin-left: 0;
    width: 22.1vw;
}
.createCommentForm input[type=submit] {
    margin-left: 14.8vw;
    font-size: 1vw;
    margin-top: 0.4vw;
}

.createCommentForm input[type=text] {
    width: 22.1vw;
}

.btn:visited {
    background-color: white;
} 

.form-group {
    margin-bottom: 0.5vw;
}

