﻿html {
    overflow-x: hidden;
}

label {
    font-weight:normal;
}

textarea {
    resize: none;
}

#setupIcon {
    width: 0.9vw;
    margin-top: -0.2vw;
}

.leftArea {
   border-right: 0.1vw solid grey; 
}

.rightArea {
   border-right: 0.1vw solid grey; 
}

.menu .btn {
    width: 10vw;
}

.page-header {
    background-color: grey;
    margin: 0;
    color: white;
    font-size: 2vw;
    margin-bottom: 1vw;
}

.page-header img {
    margin-top: 0.7vw;
    height: 4vw;
}

.title {   
    margin-top: 1.3vw;
}

.footer {
    margin-top: 5vw;
}

.dropdown .dropdown-menu {
    margin-right: 5vw;
}

.btn-right {
    float: right;
    margin-right: 3.7vw;
}

.validation-summary-errors ul {
    color : red;
    padding-left: 1.2vw;
}





