﻿.date {
    float: right;
}

.name, .date {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: grey;
}

.text {
    margin-bottom: 1vw;
    font-style: oblique;
}

.panel {
    margin-top: 1vw;
}

.panel a, .panel span {
    font-style: normal;
}