﻿@{ 
    ViewBag.Title = "Создать роль";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.ValidationSummary(true, "")
        <label>Название <input type="text" name="name" class="form-control" required></label>      
    </div>
    <div class="form-group">
        <input type="submit" value="Добавить" class="btn btn-default" />
    </div>
}

