﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @RenderSection("styles", false)
</head>
<body>
    <p id="start"></p>

    <div class="row">     

        <div class="col-md-2 col-md-offset-8">
            
            @if (User.IsInRole("Admin"))
            {
                <a href="/admin/Admin/Index">Упрвление сайтом</a>
            }

        </div>


        <div class="col-md-2">
            @if (Request.IsAuthenticated)
            {
                <a href="/Identity/Account/Settings">
                    <img id="setupIcon"
                         src="~/Content/Pictures/setup.png"
                         alt="Настройки учетной записи"
                         title="Настройки учетной записи" />
                </a>
                @Html.ActionLink("Выйти", "Logout", new { controller = "Account", area = "Identity" })
            }
            else
            {
                @Html.ActionLink("Войти", "Login", new { controller = "Account", area = "Identity" }); 
                <text>/</text>
                @Html.ActionLink("Регистрация", "Register", new { controller = "Account", area = "Identity" });
            }
            
        </div>
    </div>

    <div class="row page-header">
        <div class="col-md-1">
            <a href="/Home/Index"><img class="img-circle" src="~/Content/Pictures/header.png" alt="На главную" title="На главную" /></a>
        </div>          
        <div class="col-md-11">
            <div class="title">@ViewBag.Title</div>
        </div>
    </div>


    <div class="row content">
        <div class="col-md-8 col-md-offset-2 leftArea">
            @RenderBody()
        </div>
        <div class="col-md-2 rightArea">
            <div class="dropdown">
                <button id="menuButton" class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Меню</button>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li><a href="/Home/Index" class="btn btn-default">Главная</a></li>
                    <li><a href="/Home/Guest" class="btn btn-default">Гостевая</a></li>
                    <li><a href="/Home/Questionnaire" class="btn btn-default">Анкета</a></li>
                </ul>
            </div><br />
            @RenderSection("rightContent", false)
        </div>
    </div>


    <div class="row footer panel-footer">
        <div class="col-md-12">
            <center>
                @if (@IsSectionDefined("footer"))
                {
                    @RenderSection("footer")
                }
                else
                {
                    <footer>
                        &copy; Blog by Sasha Chizh
                    </footer>
                }
                <a href="#start" class="btn btn-link">Back to top</a>
            </center>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/Custom/layout.js")

    @RenderSection("scripts", false)
</body>
</html>
