﻿@{
    ViewBag.Title = "Удаление учетной записи";
}

<form method="post">
    <h2>Вы уверены, что хотите удалить свой аккаунт?</h2>
    <input type="submit" value="Да" class="btn btn-danger">
    <a href="/Account/Settings" class="btn btn-default">Отмена</a>
</form>

