﻿@model Blog.ViewModels.Identity.LoginModel

@{
    ViewBag.Title = "Вход на сайт";
}

@using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "col-md-3 col-md-offset-4" }))
{
    @Html.AntiForgeryToken()

    <div>
        @Html.ValidationSummary()
        <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl" />

        <div class="form-group">
            <label>
                Email<br />
                @Html.EditorFor(x => x.Email)
            </label>
        </div>

        <div class="form-group">
            <label>
                Пароль<br />
                @Html.EditorFor(x => x.Password)
            </label>
        </div>

        <div>
            <input class="btn btn-default btn-right" type="submit" value="Войти" />
        </div>
    </div>
}

