﻿@model Blog.ViewModels.Identity.RegisterModel

@{
    ViewBag.Title = "Регистрация";
}

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "col-md-3 col-md-offset-4" }))
{
    @Html.AntiForgeryToken()

    <div>
        @Html.ValidationSummary(false)

        <div class="form-group">
            <label>
                Email<br />
                @Html.EditorFor(model => model.Email)
            </label>
        </div>

        <div class="form-group">
            <label>
                Пароль<br />
                @Html.EditorFor(model => model.Password)   
            </label>
        </div>

        <div class="form-group">
            <label>
                Подтвердить пароль<br />
                @Html.EditorFor(model => model.PasswordConfirm)
            </label>
        </div>

        <div>
            <input class="btn btn-default btn-right" type="submit" value="Зарегистрировать" />   
        </div>
    </div>
}

